$TTL 86400
@       IN SOA  {{host_name}}.     root.{{host_name}}. (
2014090401    ; serial
3600    ; refresh
1800    ; retry
604800    ; expire
86400 )  ; minimum
; Name server's
{% for hosta in groups['master'] %}
@       IN      NS   {{hostvars[hosta]['host_name']}}.
{% endfor %}
{% for hosta in groups['slave'] %}
@       IN      NS   {{hostvars[hosta]['host_name']}}.
{% endfor %}

; Name server hostname to IP resolve.
@       IN      A       {{hostvars[inventory_hostname]['ansible_default_ipv4']['address']}}

{% for hosta in groups['slave'] %}
@       IN      A       {{hostvars[hosta]['ansible_default_ipv4']['address']}}
{% endfor %}

{% for hosta in groups['clients'] %}
@       IN      A       {{hostvars[hosta]['ansible_default_ipv4']['address']}}
{% endfor %}

; Hosts in this Domain
;@       IN      A       192.168.0.210
;@       IN      A       192.168.0.220

{% for hosta in groups['master'] %}
{{hostvars[hosta]['ansible_hostname']}}       IN      A       {{hostvars[hosta]['ansible_default_ipv4']['address']}}
{% endfor %}

{% for hosta in groups['slave'] %}
{{hostvars[hosta]['ansible_hostname']}}       IN      A       {{hostvars[hosta]['ansible_default_ipv4']['address']}}
{% endfor %}

{% for hosta in groups['clients'] %}
{{hostvars[hosta]['ansible_hostname']}}       IN      A       {{hostvars[hosta]['ansible_default_ipv4']['address']}}
{% endfor %}