//
// named.conf
//
// Provided by Red Hat bind package to configure the ISC BIND named(8) DNS
// server as a caching only nameserver (as a localhost DNS resolver only).
//
// See /usr/share/doc/bind*/sample/ for example named configuration files.
//

options {
        listen-on port 53 { 127.0.0.1; {% for hosta in groups['master'] %} {{ hostvars[hosta]['ansible_default_ipv4']['address'] }}; {% endfor %} };
        listen-on-v6 port 53 { ::1; };
        directory       "/var/named";
        dump-file       "/var/named/data/cache_dump.db";
        statistics-file "/var/named/data/named_stats.txt";
        memstatistics-file "/var/named/data/named_mem_stats.txt";
         allow-query     { any; };
        allow-transfer     { localhost; {% for hosta in groups['slave'] %} {{ hostvars[hosta]['ansible_default_ipv4']['address'] }}; {% endfor %} };
        recursion yes;

   		forwarders {
                {{ forwarders }};
        };
        dnssec-enable yes;
        dnssec-validation yes;

        /* Path to ISC DLV key */
        bindkeys-file "/etc/named.iscdlv.key";

        managed-keys-directory "/var/named/dynamic";
};

logging {
        channel default_debug {
                file "data/named.run";
                severity dynamic;
        };
};

zone "." IN {
        type hint;
        file "named.ca";
};

{% set list1 = domain_name.split('.') %}

zone "{{ domain_name }}" IN {
       type master;
       file "{{ domain_name }}.fwd.zone";
       allow-update { none; };
};

{% 
       set arpId = hostvars[inventory_hostname]['ansible_default_ipv4']['address'].split('.')
%}

zone "{{arpId[2]}}.{{arpId[1]}}.{{arpId[0]}}.in-addr.arpa" IN {
       type master;
       file "{{ domain_name }}.rev.zone";
//       allow-update { none; };
};


//include "/etc/named.rfc1912.zones";
//include "/etc/named.root.key";