---
- name: install all necessary packages
  yum:
    name: "{{ item }}"
    state: present
  with_items:
    - bind
    - bind-chroot
    - bind-devel
    - bind-libs
    - bind-utils
    - rpcbind
  when: add_client is undefined